body {
    margin: 0;
}

header {
    background-color: black;
    position: relative;
    z-index: 1000;
}

.header-container {
    display: flex;
    justify-content: space-between;
    background-color: black;
    width: 70%;
    margin: auto;
}

.danhmuc {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 10px 0;
}

.logo {
    width: 15%;
}

ul {
    list-style: none;
    display: flex;
    padding: 0;
    gap: 20px
}

a {
    text-decoration: none;
    font-weight: bolder;
    color: #9b9b9b;
    font-size: 16px;
    font-family: "SFProDisplay", Arial, sans-serif;
}

a:hover {
    color: orange;
}

.chucnang {
    display: flex;
    align-items: center;
    gap: 20px;
}

.muagoi {
    background-color: orange;
    border: none;
    color: white;
    padding: 10px 20px;
    width: 100px;
    border-radius: 10px;
}

.dangnhap {
    background-color: black;
    color: white;
    border: none;
    width: 100px;
}

main {
    background-color: #131314;
    color: white;
    width: 100%;
    /* height: 2000px; */
}

.quangcao {
    display: flex;
    justify-content: center;
}
.quangcao img{
    width: 70%;
    margin-top: 90px;
    border-radius: 4px;
}
.container {
    width: 70%;
    background-color: black;
    /* height: 1000px; */
    margin: auto;
}

.banner {
    width: 98%;
    border-radius: 4px;
    margin-top: 4px;
    position: relative;
}
.trailler{
    display: none;
}
.btn-img{
  
    position: absolute;
    bottom: 0;
    left: 0;
}
.qc {
    margin-top: 10px;
    width: 98%;
    border-radius: 10px;
}

.tentheloai {
    margin: 20px;
    size: 25pxS;
}

.danhsach {
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;
}

.phim {
    width: 19%;
    height: 23%;
}

.phim img {
    width: 100%;
    height: 250px;
}
.cuoi{
    width: 70%;
    margin: auto;
    background-color: #131314;
}
.noidung{
    color: white;
    text-align:left;
    margin:6px 10px;
    width: 20%;

}
footer{
    margin:30px;
}
.trailler{
  width: 600px;
  height: 450px;
}