body{
    margin:0;
    background-color: #bec0c2;
}

ul{
    margin:0;
}

.Danhmuc{
    background-color: #1a8dd0;
    padding: 20px;
}

.danhmuc-danhsach{
    display: flex;
    list-style: none;/* bỏ dấu chấm */
}

.danhmuc-muc{
    margin: 10px;
}

.danhmuc-lienket{
    color: white;
    text-decoration: none;/*bỏ gạch chân của thẻ a*/
    font-size: x-large;
    font-weight: bold;
}

.danhmuc-lienket:hover{
    color:aquamarine;
}
.logo{
    height: 80px;
    display: flex;
}
main{
    display: flex;
}
.noidung-trai{
    border: radius 10%;
    width: 80%;
}
.noidung-phai{
     height: 400px;
    width: 20%;
    margin: 0px 0px 0px 5px;
}
.tieude{
    background-color: #1a8dd0;
    padding: 15px;
    color: white;
    font-size: x-large;
    font-weight: bold;
    border-radius: 5px 5px 0px 0px;
}
.tintuc-danhsach{
    display: flex;
    justify-content: space-between;
}
.baiviet{
    height: 250px;
    width: 33%;
}
.ngaygio{
    font-size: small;
    color:white;
    background-color:aqua;
    height: 7px;
}

.ngaythang{
    
    background-color:#C5E6F8 ;
    color: white;
    font-size: medium;
    text-align: right;
}

.noidung{
    background-color: aqua;
    color: white;
    padding: auto;
}
a{
    color: white;
    text-decoration: none;
    padding: 10px;

}
.thongbao{
    background-color:#1a8dd0;
    color: white;
    font-size: larger;
    width: 100%;
   padding: 20px;
}


.date{
    background: white;
    color: black;
    text-align: right;
    font-size: small;
}

.date{
   width:20%;
   text-align:right;
   color: #495057;
}
.noidungbaiviet{
    text-align: justify;
    background-color: #C5E6F8;
}
img{
    width: 100%;
}
input{
    width: 100%;
}

.bang{
   display: flex;
   border-bottom:1px solid rgb(241, 237, 237)
}