body{
    margin:0;
}

ul{
    margin:0;
}

.Danhmuc{
    background-color: #1a8dd0;
    padding: 20px;
}

.danhmuc-danhsach{
    display: flex;
    list-style: none;/* bỏ dấu chấm */
}

.danhmuc-muc{
    margin: 10px;
}

.danhmuc-lienket{
    color: white;
    text-decoration: none;/*bỏ gạch chân của thẻ a*/
    font-size: x-large;
    font-weight: bold;
}

.danhmuc-lienket:hover{
    color:aquamarine;
}
.logo{
    height: 80px;
    display: flex;
}
main{
    display: flex;
}
.noidung-trai{
    border: radius 10%;
    background-color: antiquewhite;
    width: 80%;
}
.noidung-phai{
     height: 400px;
    background-color:white;
    width: 20%;
    margin: 0px 0px 0px 5px;
}
.tieude{
    background-color: #1a8dd0;
    padding: 20px;
    color: white;
    font-size: x-large;
    font-weight: bold;
    border-radius: 10px 10px 0px 0px;
}
.tintuc-danhsach{
    display: flex;
    justify-content: space-between;
}
.baiviet{
    height: 250px;
    width: 33%;
}
.ngaygio{
    font-size: small;
    color:white;
    background-color:aqua;
}

.noidung{
    color: white;
    background-color: aqua;

}
.ngaythang{
    
    background-color:rgb(0, 255, 255) ;
    color: white;
    font-size: medium;
    text-align: right;
}


.noidung{
    background-color: aqua;
    color: white;
    padding: auto;
}
a{
    color: white;
    text-decoration: none;
    padding: 10px;

}
.thongbao{
    background-color:#1a8dd0;
    color: white;
    font-size: larger;
    width: 100%;
   padding: 20px;
}
.link{
    background-color:aqua;
}
.anh{
    background-color: white;
    width: 100%;
    height: 25%;
}
.date{
    background: white;
    color: black;
    text-align: right;
    font-size: small;
}
img{width: 100%;}